# Dependencias
node_modules/

# Variables de entorno
.env

# Carpeta de compilación o build 
dist/
build/

# Logs y archivos temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos de migración/respaldo antiguos
data (referencia migracion)/
src/managers/
src/controllers/
src/utils/buildLinks(copia).js
# Archivos ZIP de entrega
*.zip
Entrega-backend I Final-Nicolas_Vergara.zip

# Scripts temporales de migración
migrate-products.js

# Vista alternativa
src/vistas/productDetail.handlebars